/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: darkslategray;
} */

.grid-container {
    position: absolute;
    height: 66vh;
    width: 30vw;
    background-color: #252526;
    top: 0;
    left: 0;
    box-sizing: border-box;

}

.edit-grid {
    position: absolute;
    display: grid;
    height: 32vh;
    width: 32vh;
    grid-template-columns: repeat(5, 6.4vh);
    grid-template-rows: repeat(5, 6.4vh);
    top: 50%;
    right: 50%;
    margin-top: -16vh;
    margin-right: -16vh;
}

.cell {
    background-color: white;
    border: 1px solid #acacac;
}

.palette {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 5vh);
    grid-template-rows: repeat(13, 5vh);
    top: 0.3vh;
    left: 0.2vw;
}

.color {
    cursor: pointer;
    box-sizing: border-box;
    border: 1px solid #acacac;
}

.word-container {
    position: absolute;
    height: 34vh;
    width: 30vw;
    background-color: #252526;
    left: 0;
    bottom: 0;
    border-top: .1vw solid #414141;
}

.generator-toggle { 
    background-color: #252526;
    position: absolute;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    /* border-bottom: .1vw solid #414141; */
    background: none;
    box-shadow: none;
    width: 100vw;
    top: 0;
    left: 0;
}

.generator-title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: white;
    text-align: left;
}

.word-generator {
    position: absolute;
    height: 3vh;
    width: 20vw;
    resize: none;
    top: 50%;
    left: 50%;
    margin-top: -7vh;
    margin-left: -10vw;
    background-color: #3C3C3C;
    font-size: 11pt;
    color: white;
    border: 0;
}

.word-generator:focus {
    outline: none;
}

.generate-word-button {
    position: absolute;
    height: 4vh;
    width: 4vh;
    top: 50%;
    left: 50%;
    margin-top: -1.5vh;
    margin-left: -2vh;
    border: 0;
    background: none;
    box-shadow: none;
    background-color: transparent;
    text-align: center;
}

.generate-word-button:hover {
    background-color: #4c4c4e;
    border-radius: 25%;
} 

.plus-png {
   margin-top: 0.5vh;
   margin-left: -0.2vh;
}

.top-bar {
    position: absolute;
    height: 4vh;
    width: 70vw;
    background-color: #2D2D2D;
    top: 0;
    right: 0;
    z-index: 1;
}

.editor-container {
    position: absolute;
    height: 62vh;
    width: 70vw;
    background-color: #1E1E1E;
    top: 4vh;
    right: 0;
    /* border-left: .1vw solid #414141; */
}

.run-button {
   position: absolute;
   height: 4vh;
   width: 4vh;
   top: 0;
   right: 0;
}

.submitted-grids .edit-grid {
    position: relative;
    display: grid;
    height: 10vh;
    width: 10vh;
    grid-template-columns: repeat(5, 2vh);
    grid-template-rows: repeat(5, 2vh);
    /* margin-top: 5vh; */
    margin: 1vh;
    top: 0;
    left: 0;
}

.output-container {
    position: absolute;
    height: 34vh;
    width: 70vw;
    background-color: #0e0e0e;
    right: 0;
    bottom: 0;
    box-sizing: content-box;
    border-top: .1vw solid #414141;
}